body {
  background: lightGray;
  font: 12px sans-serif;
  overscroll-behavior: contain;
  overflow-y: hidden;
  -webkit-overflow-scrolling: -auto;
  user-select:none;
  -webkit-user-select:none;
}
html,body{
   position: fixed;
   -overflow: -hidden;
}