body {
  background: lightGray;
  font: 12px sans-serif;
  overscroll-behavior: contain;
  overflow-y: hidden;
  -webkit-overflow-scrolling: -auto;
  user-select:none;
  -webkit-user-select:none;
  
  display: flex;
  flex-direction: column;
}
html,body{
	margin: 0px;
	position: fixed;
	-overflow: -hidden;
	width: 100vw;
	height: 100vh;
}
